<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebCalculatorSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebCalculatorSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44308/WebCalculator.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebCalculatorSoap"
                contract="ServiceReference1.WebCalculatorSoap" name="WebCalculatorSoap" />
        </client>
    </system.serviceModel>
</configuration>